.request-container {
  width: 73vw;
  display: flex;
  flex-direction: column;
}

.request-dashboard {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
}

.request-form-container{
  width: 73vw;
}
.request-form-division {
  background-color: white;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  overflow: auto;
}

.Request-add-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  margin: 30px 0px;
  background: #f2f8ff;
  border-radius: 20px;
}

.request-form-division span {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* button approve abouth the status */

/* Add this CSS in your styles or in your component */
.disabled-action {
  pointer-events: none; /* Disable pointer events for the action button */
  opacity: 0.5; /* Adjust the styling as needed */
 
}

/* approve request csss */

.approve-details {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
.approve-form {
  display: flex;
}

.red-text {
  color: red;
}
.approve-material-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  /* background-color: rebeccapurple; */
}
.approve-main-container {
  margin: 40px 0px;
}
.approve-material-details span {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: red; */
}

.div-stock-mat-id {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 10px;
  justify-content: space-around;
}
