body {
    background-color: #D9D9D9;
    color: #434c64;
}

*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.app-sidebar {
    height: 100vh;
    width: 22vw;
    padding: 5px 15px;
    position: sticky;
    top: 0px;
}

.sidebar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.sidebar-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-left: 50px;
}
.sidebar-navlink {
    height: 7vh;
    width: 100%;
    font-size: 22px;
    text-decoration: none;
    color: #676666;
    display: flex;
    display: flex;
    align-items: center;
}

.active {
    background: #1977F3;
    border-radius: 30px;
    transition: all 0.6s ease-in-out;
    color: rgb(255, 255, 255);

    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}