.complete-stock-add-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  margin: 30px 0px;
  background: #f2f8ff;
  border-radius: 20px;
}


.complete-stock-container,
.raw-material-container,
.semi-finished-container,
.stationary-goods-container,
.finished-goods-container {
  width: 73vw;
}

.complete-stock-dashboard {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
}

.complete-stock-form-div {
  background-color: white;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: auto;
}

.CompleteEachStock {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
